body {
    background-color: rgb(46, 59, 87);
    color: rgb(231, 231, 231);
    font-size: 1.25rem;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form input {
    height: 2rem;
}
button {
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
}
