* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(38, 39, 35);
    color: rgb(132, 141, 151);
}

a {
    color: rgb(131, 171, 216);
}

button {
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
}

.heading1 {
    font-size: 4rem;
    text-align: center;
}

.box {
    border: 1px solid white;
    padding: 1rem;
    margin: 1rem;
}

p {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

ul {
    padding-left: 2rem;
}

li {
    font-size: 1.25rem;
    padding: 0.1rem;
}

/* table styles */

/* table {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    font-size: 1.5rem;
}

tr {
    border: 2px solid #26736be9;
    border-radius: 5px;
    background-color: #79c1b88e;
}

tr:nth-child(even) {
    background-color: #6aaca3c8;
}

td {
    padding: 0.25rem;
    border: 2px solid #26736be9;
    text-align: center;
} */
